@model PaymentNotificationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
    <title>Burateknoloji | Ödeme Bildirimi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/areas/panel/css/views/paymentnotification/style.css?v.2.1" rel="stylesheet" />
        <link rel="shortcut icon" href="~/ui/assets/img/fav.png" type="image/x-icon">
</head>

<body>

    <div class="parrot">
        <div class="mainbox">
            <div class="deneme">
                <div class="slidercont" data-value="2" id="step2cc">
                    <div class="deneme">
                        <div class="slidercont" id="stepfinal">
                            <div class="boxbank">
                                <div>
                                    <h3 class="" style="text-align:center !important;">İŞLEM BİLGİSİ</h3>
                                </div>
                            </div>

                            @if(Model.ThreeDSecureResultModel.TURKPOS_RETVAL_Sonuc == "-1")
                            {
                                <div class="arrive2" style="background-color:red;">
                                    <p class="bold">İŞLEM BAŞARISIZ</p>
                                </div>
                            }

                            else
                            {
                                <div class="arrive2" id="transactionStatusHeaderDiv">
                                    <p class="bold" id="transactionStatusHeader">İŞLEM BAŞARILI</p>
                                </div>
                            }

                            <div class="form">
                                <div class="info">
                                    <div class="row">
                                        <div class="infobox">
                                            <p class="text1">ÖDEME TARİHİ:</p>
                                            <p class="text2">@Model.ThreeDSecureResultModel.TURKPOS_RETVAL_Islem_Tarih</p>
                                        </div>
                                        <div class="infobox">
                                            <p class="text1">ÖDEME SAHİBİ:</p>
                                            <p class="text2">Burateknoloji</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="infobox">
                                            <p class="text1">ÖDEME TİPİ:</p>
                                            <p class="text2 onay">KREDİ KARTI</p>
                                        </div>
                                        @if (Model.ThreeDSecureResultModel.TURKPOS_RETVAL_Sonuc == "-1")
                                        {
                                            <div class="infobox">
                                                <p class="text1">ÖDEME DURUMU:</p>
                                                <p class="text2" style="color:red">REDDEDİLDİ</p>
                                            </div>
                                        }
                                        else if (Model.ThreeDSecureResultModel.TURKPOS_RETVAL_Sonuc != "-1" && Model.IsAutoTransaction == "false")
                                        {
                                            <div class="infobox">
                                                <p class="text1">ÖDEME DURUMU:</p>
                                                <p class="text2 onaystay" id="status">ONAY BEKLİYOR</p>
                                                <div class="loader" id="spinner"></div>
                                            </div>
                                        }

                                        else
                                        {
                                            <div class="infobox">
                                                <p class="text1">ÖDEME DURUMU:</p>
                                                <p class="text2 onay">ONAYLANDI</p>
                                            </div>
                                        }

                                    </div>
                                    @if (Model.ThreeDSecureResultModel.TURKPOS_RETVAL_Sonuc == "-1")
                                    {
                                            <div class="row">
                                                <div class="infobox">
                                                    <p class="text1">ÖDEME SONUCU:</p>
                                                    <p class="text2" style="color:red;">@Model.ThreeDSecureResultModel.TURKPOS_RETVAL_Sonuc_Str</p>
                                                </div>
                                            </div>
                                    }
                                    else
                                    {
                                            <div class="row">
                                                <div class="infobox">
                                                    <p class="text1">ÖDEME SONUCU:</p>
                                                    <p class="text2 onay" id="responseText">@Model.ThreeDSecureResultModel.TURKPOS_RETVAL_Sonuc_Str</p>
                                                </div>
                                            </div>
                                    }
                                    <div class="row">
                                        <div class="formend" style="margin:0;">
                                            <div class="confirm" style="width:100%;">
                                                <button id="btnGoSite" style="cursor:pointer">
                                                    <i class="fa-solid fa-rotate-left"></i> SİTEYE GERİ DÖN</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="jsonRedirectUrl" value="@Model.RedirectUrl" />
    <input type="hidden" id="jsonTransferStatus" value="@Model.IsAutoTransaction" />

    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/animation.js?v.2.1"></script>
    <script src="~/areas/panel/js/views/paymentnotification/app.js"></script>

    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery-validate.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery-unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery-timepicker.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/mask/imask.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/custom/numeric-format.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/threedsecure.js"></script>
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
    <style>
        .loader {
            width: 48px;
            height: 48px;
            border: 5px solid #54c6e7;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }

        @@keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</body>

</html>
